.offers-container {
    background: #333335;
    max-height: 400px;
    border-radius: 15px;
    display: flex;
    /* wdith: auto ; */

    position: relative;
    overflow: visible;
}

.offers-container a {
    text-decoration: none;
}

.offers-item {
    padding: 20px;
    position: relative;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.offers-item .offers-img,
.offers-item .offers-img img {
    width: 180px;
    height: 90px;
}

.offers-item .offers-img {
    margin: 0 auto;
    margin-left: 0;
}

.offers-item .offers-img img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 210px;
    height: 180px;
    object-fit: cover;
    object-position: center top;
    top: -100px; 
    transition: transform 0.3s ease;
}

.offers-item .offers-img img:hover {
    transform: translateX(-50%) scale(1.1); 
}

.offers-item p {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .5px;
}

.offers-item .category-sub {
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 20px;
    opacity: .7
}

.offers-item .item-prices {
    color: #fff; 
    font-size: 26px;
    font-weight: 600;
}