.product {
    display: flex;
    flex-direction: column; /* Đã sửa từ flex-decoration thành flex-direction */
    align-items: center;
    gap: 10px;
    height: 90vh;
}

.product h1 {
    color: #fff;
    font-size: 50px;
    font-weight: 600;
}

.product hr {
    width: 200px;
    height: 6px;
    background: #252525;
}

.product-item {
    background: #2e2e30;
    margin-top: 50px;
    justify-content: center;
    /* width: 100%; */
    gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product-item BrandItem {
    mix-blend-mode: multiply;
}

.brand-item {
    wdith: 128px; 
    background: #2e2e30;
}

.brand-item img {
    mix-blend-mode: multiply;
}